<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <div>
        <h2>Blog Home page</h2>
    </div>
    <br>
    <div>
        <button>
            <a href="/users/signup">SIGN-UP</a>
        </button>
    </div>
    <br>
    <div>
        <button>
            <a href="/users/login">LOGIN</a>
        </button>
    </div>


    <br>
    <br>
    <div>
        <% users.forEach(user=>{%>
        <%=user.username%>
        <%})%>
    </div>
</body>

</html>